<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s101.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,446},{123,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,143}}</string>
                <key>sourceSize</key>
                <string>{123,143}</string>
            </dict>
            <key>s102.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,936},{135,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,83}}</string>
                <key>sourceSize</key>
                <string>{135,83}</string>
            </dict>
            <key>s103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{187,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{187,98}}</string>
                <key>sourceSize</key>
                <string>{189,100}</string>
            </dict>
            <key>s120.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{76,121}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,121}}</string>
                <key>sourceSize</key>
                <string>{76,123}</string>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,945},{137,21}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,21}}</string>
                <key>sourceSize</key>
                <string>{141,23}</string>
            </dict>
            <key>s55.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,825},{155,109}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{155,109}}</string>
                <key>sourceSize</key>
                <string>{161,125}</string>
            </dict>
            <key>s57.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,743},{155,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,110}}</string>
                <key>sourceSize</key>
                <string>{157,110}</string>
            </dict>
            <key>s58.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,713},{144,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{144,110}}</string>
                <key>sourceSize</key>
                <string>{146,112}</string>
            </dict>
            <key>s59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,841},{167,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{167,87}}</string>
                <key>sourceSize</key>
                <string>{169,93}</string>
            </dict>
            <key>s62.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,855},{165,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{165,88}}</string>
                <key>sourceSize</key>
                <string>{165,90}</string>
            </dict>
            <key>s63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{132,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,88}}</string>
                <key>sourceSize</key>
                <string>{132,88}</string>
            </dict>
            <key>s64.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{138,215}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{138,215}}</string>
                <key>sourceSize</key>
                <string>{138,219}</string>
            </dict>
            <key>s66.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{137,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,221}}</string>
                <key>sourceSize</key>
                <string>{137,221}</string>
            </dict>
            <key>s67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,222}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{137,222}}</string>
                <key>sourceSize</key>
                <string>{137,226}</string>
            </dict>
            <key>s68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{101,199}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{101,199}}</string>
                <key>sourceSize</key>
                <string>{105,203}</string>
            </dict>
            <key>s69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{101,215}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,215}}</string>
                <key>sourceSize</key>
                <string>{101,217}</string>
            </dict>
            <key>s71.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,225},{101,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,219}}</string>
                <key>sourceSize</key>
                <string>{101,219}</string>
            </dict>
            <key>s72.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,488},{210,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{210,102}}</string>
                <key>sourceSize</key>
                <string>{210,104}</string>
            </dict>
            <key>s76.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,219},{210,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,133}}</string>
                <key>sourceSize</key>
                <string>{210,133}</string>
            </dict>
            <key>s77.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,354},{173,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{173,132}}</string>
                <key>sourceSize</key>
                <string>{173,136}</string>
            </dict>
            <key>s78.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,592},{138,119}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,119}}</string>
                <key>sourceSize</key>
                <string>{140,119}</string>
            </dict>
            <key>s80.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,592},{138,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,149}}</string>
                <key>sourceSize</key>
                <string>{138,149}</string>
            </dict>
            <key>s81.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,591},{110,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,148}}</string>
                <key>sourceSize</key>
                <string>{110,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startAnimationRes3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbe685b95b827a2b2e2804320dd96eea$</string>
            <key>textureFileName</key>
            <string>startAnimationRes3.png</string>
        </dict>
    </dict>
</plist>
