#ignore file magpie
AUTHORS
build-nacl.sh
build-win32.bat
CHANGELOG
cocos2d-win32.vc2010.sln
cocos2d-win32.vc2012.sln
cocos2d-winrt.vc2012.sln
cocos2d-winrt.vc2013.sln
cocos2d-wp8.vc2012.sln
CocosDenshion
document
Emscripten.TODO
external
install-deps-linux.sh
licenses
make-all-linux-project.sh
Makefile
Makefile.emscripten
plugin
README.mdown
samples
scripting/lua
scripting/javascript/spidermonkey-android
scripting/javascript/spidermonkey-ios
scripting/javascript/spidermonkey-win32
template
tools