.DS_Store
.Trash
node_modules
*.xls#
*.log
client/Client-v1.0.0-e2.1.5/Client-v1.0.0-e2.1.5.xcodeproj/project.xcworkspace
client/Client-v1.0.0-e2.1.5/Client-v1.0.0-e2.1.5.xcodeproj/xcuserdata
Cocos2d-html5-*
cocos2d-x-*
client/nohup.out
client/Resources.zip
fileLookup.plist
table.json
.idea
game-server/app
game-server/config/data/ttserver
game-server/logs/tmp
game-server/test
TESTS-*.xml
game-server/src/test/jasmine/selenium-server-standalone-2.33.0.jar
*.xcuserstate

game-server/selenium-server-standalone-2.33.0.jar
*.csv#

game-server/config/powerGivenFlag-*.json
