.DS_Store
.Trash
node_modules
*.xls#
*.log
*.log.[1-5]
client/cocos2d-x-2.2.1/projects/Magpie/proj.ios/Magpie.xcodeproj/project.xcworkspace
client/cocos2d-x-2.2.1/projects/Magpie/proj.ios/Magpie.xcodeproj/xcuserdata
Cocos2d-html5-*
Client-v1.0.0-e2.1.5
client/nohup.out
client/Resources.zip
client/cocos2d-x-2.2.1/projects/Magpie/Resources/game
client/cocos2d-x-2.2.1/projects/Magpie/Resources/res/test
client/cocos2d-x-2.2.1/projects/Magpie/proj.android/assets
client/cocos2d-x-2.2.1/projects/Magpie/proj.android/obj
client/cocos2d-x-2.2.1/projects/Magpie/proj.android/libs
client/cocos2d-x-2.2.1/projects/Magpie/proj.android/bin
client/cocos2d-x-2.2.1/projects/Magpie/proj.android/gen
client/cocos2d-x-2.2.1/projects/MagpieTest
client/cocos2d-x-2.2.1/projects/Magpie/proj.ios/lib/YY/SDK/libyygamesdk_universal.a
client/cocos2d-x-2.2.1/cocos2dx/platform/android/java/bin/libcocos2dx.jar
fileLookup.plist
table.json
.idea
game-server/app
game-server/config/data/ttserver
game-server/logs/tmp
game-server/test
TESTS-*.xml
game-server/src/test/jasmine/selenium-server-standalone-2.33.0.jar
*.xcuserstate

game-server/selenium-server-standalone-2.33.0.jar
*.csv#

game-server/config/powerGivenFlag-*.json
web-server/data
shared/version.json
gm/config/mysql.json
shared/version.json
game-server/config/area.json

shared/whiteList.json

*.map


game-server/src/app/servers/*/*/*.js
web-server/uploads
web-server/sqlite
web-server/tmp
client/cocos2d-html5-v2.2
