.DS_Store
.Trash
node_modules
*.xls#
*.log
Cocos2d-html5-*
client/Client/Client/libs/chipmunk
client/Client/Client/libs/cocos2dx
client/Client/Client/libs/CocosDenshion
client/Client/Client/libs/extensions
client/Client/Client/libs/javascript
client/nohup.out
client/Resources.zip
table.json
.idea
game-server/app
components
game-server/config/data/ttserver
game-server/logs/tmp
game-server/test
TESTS-*.xml
game-server/src/test/jasmine/selenium-server-standalone-2.33.0.jar
*.xcuserstate

game-server/selenium-server-standalone-2.33.0.jar
*.csv#

game-server/config/powerGivenFlag-*.json