<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Magpie-AppStore-Releases.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Magpie-AppStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Magpie-TB-Releases.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Magpie-TB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>902B07A11858C475003A2A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F535061862EAC2008207BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F5361B1862EB3C008207BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A922753C1517C094001B78AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
