<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s111.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,92},{330,86}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{330,86}}</string>
                <key>sourceSize</key>
                <string>{362,112}</string>
            </dict>
            <key>s112.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{374,88}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{374,88}}</string>
                <key>sourceSize</key>
                <string>{424,112}</string>
            </dict>
            <key>s137.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{546,142}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,14},{546,142}}</string>
                <key>sourceSize</key>
                <string>{640,174}</string>
            </dict>
            <key>s138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{344,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{344,32}}</string>
                <key>sourceSize</key>
                <string>{378,56}</string>
            </dict>
            <key>s139.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,112}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,18},{580,112}}</string>
                <key>sourceSize</key>
                <string>{640,156}</string>
            </dict>
            <key>s21.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,336},{425,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{425,32}}</string>
                <key>sourceSize</key>
                <string>{467,54}</string>
            </dict>
            <key>s22.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,438},{572,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{572,30}}</string>
                <key>sourceSize</key>
                <string>{640,66}</string>
            </dict>
            <key>s23.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,470},{508,30}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{508,30}}</string>
                <key>sourceSize</key>
                <string>{640,66}</string>
            </dict>
            <key>s24.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,268},{508,32}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,17},{508,32}}</string>
                <key>sourceSize</key>
                <string>{640,66}</string>
            </dict>
            <key>s25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{444,30}}</string>
                <key>offset</key>
                <string>{-64,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{444,30}}</string>
                <key>sourceSize</key>
                <string>{640,66}</string>
            </dict>
            <key>s44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{342,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{342,30}}</string>
                <key>sourceSize</key>
                <string>{380,54}</string>
            </dict>
            <key>s45.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,302},{470,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,12},{470,32}}</string>
                <key>sourceSize</key>
                <string>{640,54}</string>
            </dict>
            <key>s46.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,370},{552,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,11},{552,32}}</string>
                <key>sourceSize</key>
                <string>{640,54}</string>
            </dict>
            <key>s47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{312,30}}</string>
                <key>offset</key>
                <string>{-115,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,13},{312,30}}</string>
                <key>sourceSize</key>
                <string>{640,54}</string>
            </dict>
            <key>s48.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,404},{596,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{596,32}}</string>
                <key>sourceSize</key>
                <string>{640,54}</string>
            </dict>
            <key>s82.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,62},{58,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{58,28}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>s83.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,32},{58,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{58,28}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>s84.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,438},{88,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{88,28}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>s85.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,336},{88,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{88,28}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>s86.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,122},{88,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{88,28}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>s87.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,92},{88,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{88,28}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>s88.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{58,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{58,28}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>s89.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,180},{441,86}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{441,86}}</string>
                <key>sourceSize</key>
                <string>{483,116}</string>
            </dict>
            <key>s90.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{502,86}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{502,86}}</string>
                <key>sourceSize</key>
                <string>{528,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startAnimationRes2.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d254ac4547903de96d20e587042d40a$</string>
            <key>textureFileName</key>
            <string>startAnimationRes2.png</string>
        </dict>
    </dict>
</plist>
