<%- include header %>
  <% if(!user) { %>
    <div class="hero-unit">
    <h1>欢迎使用GM，请先登录</h1>
    <a class="btn btn-primary btn-large" href="/login">登录</a>
    </div>
  <% } %>
<%- include footer %>




