<%- include header %>
    <form class="form-horizontal" method="post">
    <fieldset>
        <legend>用户登录</legend>
        <div class="control-group">
            <label class="control-label" for="username">用户名</label>
            <input type="text" class="input-middle" id="username" name="username">
        </div>
        <div class="control-group">
             <label class="control-label" for="password">密码</label>
            <input type="password" class="input-middle" id="password" name="password">
        </div>

        <div class="form-actions">
            <button type="button" class="btn btn-primary" id = "btnLogin">登录</button>
        </div>

         <div class="alert" id = "tip">
         </div>

    </fieldset>
    </form>

     <script src="/javascripts/login.js"></script>
     </script>

<%- include footer %>