<%- include header %>
	<from class="form-inline span6">
		<fieldset>
			<legend>消息推送</legend>
			 <form class="form-inline span6">
			 	<div class="control-group">
                    <label for="areas">服务器: </label>
                    <select id="area" class="form-control input-small" name="area"></select>
                </div>
			 	 <div class="control-group">
                    <label for="type">类型: </label>
                    <select id="type" class="form-control input-small" name="type"></select>
                 </div>	
			 	 <div class="control-group">
                    <label for="content">内容: </label>
                    <input type="text" class="input-middle" id="content">
                 </div>
                 <div class="control-group">
                    <label for="validDuration">有效时长: </label>
                    <input type="text" class="input-small" id="validDuration"> 小时（选填，发循环消息时用）
                 </div>
                 <div class="control-group">
                     <label for="tick">间隔时间: </label>
                     <input type="text" class="input-small" id="tick"> 秒 (选填，发循环消息时用)
                 </div>
			 </from>
			 <div class="form-inline span4 control-group">
                 <button type="button" id = "btnOk" class="btn btn-primary">确定</button>
            </div>
		</fieldset>
	</from>
	<script src="/javascripts/msgPush.js"></script>

	<script>

    </script>

<%- include footer %>