<%-include header%>
    <div class="from-inline span6">
        <fieldset>
            <legend>
                模拟卡牌洗练
            </legend>
            <div class="from-inline span3">
            <label for="type">类型</label>
            <select id="type" class="form-control input-small" name="type">
                <option value="1">仙币洗练</option>
                <option value="2">魔石洗练</option>
            </select>
            <div class="control-group">
                <label class="control-label" for="times">洗练次数:</label>
                <input type="text" class="input-small" id="times" name="times">
            </div>
            <div class = "form-group">
                <button type="button" class="btn btn-primary" id = "btnOK" >确定</button>
                <button type="button" class="btn btn-primary" id = "btnReset" >重置</button>
            </div>
            </div>
            <div class="from-inline span3">
                <table class="table table-bordered table-hover table-responsive" id="result">
                    <thead>
                        <th>区间</th><th>次数</th><th>概率</th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
    <script src="/javascripts/models/passSkillAfresh.js"></script>
    <script src="/javascripts/passSkillAfresh.js"></script>
<%-include footer%>