<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,255},{126,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,141}}</string>
                <key>sourceSize</key>
                <string>{126,141}</string>
            </dict>
            <key>boss3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,251}}</string>
                <key>sourceSize</key>
                <string>{319,251}</string>
            </dict>
            <key>boss3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{232,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,96}}</string>
                <key>sourceSize</key>
                <string>{232,96}</string>
            </dict>
            <key>boss3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{176,171}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{176,171}}</string>
                <key>sourceSize</key>
                <string>{176,175}</string>
            </dict>
            <key>boss3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,175},{78,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,148}}</string>
                <key>sourceSize</key>
                <string>{78,150}</string>
            </dict>
            <key>boss3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,255},{81,139}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,139}}</string>
                <key>sourceSize</key>
                <string>{83,139}</string>
            </dict>
            <key>boss3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,398},{82,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,107}}</string>
                <key>sourceSize</key>
                <string>{82,107}</string>
            </dict>
            <key>boss3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,255},{133,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,196}}</string>
                <key>sourceSize</key>
                <string>{133,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:453a62c7937b63284786e4065a5d1c20$</string>
            <key>textureFileName</key>
            <string>boss3.png</string>
        </dict>
    </dict>
</plist>
