#editor { 
    /*position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/
    height: 600px;
}

.main {
  padding: 50px;
  background-color: #eee;
}

.actions a {
  display: inline-block;
  margin-right: 10px;
}

.form-group {
  margin-left: 30px;
}

.footer {
  background-color: #f8f8f8;
}

.login-block {
  margin-top: 200px;
}

.zhinv {
  position: absolute;
  top: 10px;
  right: 0px;
}

.vblock {
  color: #fff;
  margin-bottom: 20px;
}

.vblock:hover {
  color: #fff;
}

.version-header {
  font-size: 18px;
  font-weight: bold;
  background: #98d061;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  text-align: center;
  letter-spacing: .04em;
  -webkit-transition: .05s ease-in;
  transition: .05s ease-in;
}
.vblock:hover .version-header {
  background: #8bca4e;
}

.version-body {
  background: #85c744;
  font-weight: bold;
  
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-sizing: border-box;
  transition: .05s ease-in;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.vblock:hover .version-body{
  background: #78ba38;
}

.version-body .vnum {
  font-size: 52px;
  line-height: 60px
}

.version-body .percent {
  font-size: 18px;
  padding-right: 10px;
  padding-bottom: 5px;
  line-height: 20px
}

.version-footer {
  background-color: #6ca632;
  color: rgba(255,255,255,0.4);
  font-size: 12px;
  padding-left: 10px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  -webkit-transition: .05s ease-in;
  transition: .05s ease-in;
}
.vblock:hover .version-footer{
  background: #5f932c;
  color: #fff;
}

.version-header:before .version-header:after
.version-body:before .version-header:after
.version-footer:before .version-footer:after {
  content: " ";
  display: table;
}

.vblock .version-footer:after {
  right: 0;
  border-top: 6px solid rgba(0,0,0,0.35);
  content: "";
  position: absolute;
  bottom: 0;
  right: -1px;
  width: 0;
  height: 0;
  margin-right: 16px;
  border-top: 5px solid rgba(0,0,0,0.35);
  border-right: 5px solid #eee;
  border-bottom: 5px solid #eee;
  border-left: 5px solid rgba(0,0,0,0.35);
  border-top-left-radius: 1px;
}