body {
  padding: 0;
  margin: 0;
  font: 18px "Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;
}

a {
  color: #00B7FF;
}

#backtop {
    position:fixed;
    _position:absolute;
    top:30px;
    right: 30px;
    color: #fff;
    text-decoration: none;
}

.container {
  margin: 0 3px;
  padding: 6px;
  background-color: #835747;
}