body {
  padding: 0;
  font: 18px "Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;
  background-color: rgb(199, 170, 123);
}

a {
  color: #00B7FF;
}

#backtop {
    position:fixed;
    _position:absolute;
    top:30px;
    right: 30px;
    color: #fff;
    text-decoration: none;
}