extends adminLayout

block content
  div(id='editor') #{areas}
  div(class='row', style="margin-top: 20px")
    div(class='col-md-8 text-right', style='line-height: 45px')
      span(id='res-msg')
    div(class='col-md-4')
      input(id='save', type='button', class='btn btn-primary btn-lg btn-block' value='保存')

block footer
  script(type='text/javascript', src='/js/ace/ace.js')
  script.
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");

    $('#save').click(function(e){
      var value = editor.getValue();
      try{
        var jt = JSON.parse(value);

        $.post('/admin/areaeditor/save', {
          areas: value
        }, function(data, status) {
          $('#res-msg').text(data.msg);
          if (data.code == 200) {
            $('#res-msg').removeClass('alert-danger');
            $('#res-msg').addClass('alert alert-success');
          } else {
            $('#res-msg').removeClass('alert-success');
            $('#res-msg').addClass('alert alert-danger');
          }
        });
      } catch(e) {
        $('#res-msg').removeClass('alert-success');
        $('#res-msg').text('语法错误！').addClass('alert alert-danger');
      }
    });