style.
    .circle {display: inline-block;min-width: 10px;padding: 2px;font-size:75%;cursor:pointer;margin-left:3px;color: #fff;text-align: center;white-space: nowrap;background-color: #d9534f;border-radius: 10px;vertical-align: baseline;}
    .player-tag {display:inline-block;position:relative;font-size: 100%; padding: 6px; margin: 8px 8px 0 0; font-weight: normal;}
    .disableLayer {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #ffffff;z-index: 30;opacity: 0.4;filter:alpha(opacity=40);}

#exceptPlayerBox
    .form-group
        label.col-sm-3.control-label 排除用户
        .col-sm-3
            .disableLayer.excPlayerDL
            input.form-control.exceptPlayer(type='text' name='exceptPlayer')
        .col-sm-2
            .disableLayer.excPlayerDL
            a.btn.btn-primary.addExcPlayer(href='javascript:void(0);')
                span.glyphicon.glyphicon-plus
    .form-group
        label.col-sm-3.control-label
            a.btn.switch(href='javascript:void(0);')
        .col-sm-9.tagArea

script#excPlayerTemp.hide(type='text/template')
    span.label.label-default.player-tag
        span.disableLayer.excPlayerDL.hide
        span.name
        span.circle.remove
            span.glyphicon.glyphicon-remove