doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(type='text/javascript', src='/js/jquery-1.10.2.min.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/main.css')
    script(type='text/javascript', src='/js/bootstrap.min.js')
  body

    div.container(style='position: relative')
      div.pull-right.clearfix.zhinv
        img(src='/zhinv.png')
      div.row
        div.login-block.well.col-md-6.col-md-offset-3
          form.form-horizontal(role='form', method='POST', action='/login')
            div.form-group
              label.col-md-3.control-label(for='inputUserName') 用户名
              div.col-md-8
                input.form-control(type='text', id='inputUserName', name='username')
            div.form-group
              label.col-md-3.control-label(for='inputPassword') 密码
              div.col-md-8
                input.form-control(type='password', id='inputPassword', name='password')
            div.form-group
              div.col-md-offset-3.col-md-5
                button.btn.btn-default(type='submit') 登陆
