extends adminLayout

block head
  script(type='text/javascript', src='/js/serverAPI.js')
  script(type='text/javascript', src='/js/async.js')
  script(type='text/javascript', src='/js/lib/build/build.js')
  script.
    require('boot');

block content
  h1.text-center 消息推送
  hr
  form.form-horizontal(role='form')
    div.form-group
      label.col-sm-2.control-label 服务器
      div.col-sm-10
        select.form-control(type='text', id="area" name='area' required)
    div.form-group
      label.col-sm-2.control-label 类型
      div.col-sm-10
        select.form-control(type='text', id='type' name='type' required)
    div.form-group
      label.col-sm-2.control-label 有效时长
        em (小时)
      div.col-sm-10
        input.form-control(type='number', id='validDuration')
        span.help-block 选填，发循环消息时用
    div.form-group
      label.col-sm-2.control-label 时间间隔
        em (秒)
      div.col-sm-10
        input.form-control(type='number', id='tick')
        span.help-block 选填，发循环消息时用
    div.form-group
      label.col-sm-2.control-label 内容
      div.col-sm-10
        textarea.form-control(rows=3, id='content' required)
    
    div.form-group
      div.col-sm-10.col-sm-offset-2
        button.btn.btn-primary.btn-lg(id='btnOk', type='submit', data-loading-text="Loading...") &nbsp;&nbsp;&nbsp;确定&nbsp;&nbsp;&nbsp;
    div.form-group(id='msg-block')
      div.col-sm-10.col-sm-offset-2
        div.hidden.alert

  script(type='text/javascript', src='/js/msgPush.js')

