doctype html
html
  head
    title= title
    meta(content='width=device-width,user-scalable=no', name='viewport')
    link(rel='stylesheet', href='/css/style.css')
  body
    a(id='backtop', href='javascript:scroll(0,0)') 返回
    div(class='bg')
      != content

