doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/css/notice.css')
  body
    div.container
      a(id='backtop', href='javascript:scroll(0,0)') 返回
      div(class='bg')
        != content

