extends adminLayout

block head
  script(type='text/javascript', src='/js/noticeActions.js')

block content
  form.form-inline.text-right(id='newNoticeForm', role='form', method='POST', action='/admin/notice')
    div.form-group
      label.sl-only(for='inputName')
      input(type='text', class='form-control', id='inputName', name='inputName', placeHolder='平台')
    div.form-group
      label.sl-only(for='inputPlatform')
      input(type='text', class='form-control', id='inputPlatform', name='inputPlatform' placeHolder='名称')
    div.form-group
      button(id='btnNewNotice', type='submit', class='btn btn-default') 新建
  hr
  table.table.table-responsive
    thead
      tr
        th 平台
        th 名称
        th.text-center 操作
    tbody
      - each ntc in notices
        tr
          td.ntc-name #{ntc.name}
          td.ntc-platform #{ntc.platform}
          td.actions.text-center
            a(class='', href="/admin/notice/#{ntc.platform}") 编辑
            a(href="#", class='deleteNotice') 删除
