doctype html
html
  head
    title= title
    meta(content='width=device-width,user-scalable=no', name='viewport')
    link(rel='stylesheet', href='/css/style.css')
  body
    div(class='bg')
      != content