style.
    .no-pad-left {padding-left: 0px;}
    .no-pad-right {padding-right: 0px;}
    .center {text-align: center;}

div(id='queryPlayerBox')
    div.form-group
        label.col-sm-3.control-label (切换服务器将清空玩家) 服务器
        div.col-sm-7
            select.form-control(type='text', id="area" name='area' required)
    div.form-group
        div.paramSet(name='lv')
            label.col-sm-3.control-label 玩家等级
            div.col-sm-1.no-pad-right
                input.form-control.low(name='lvLow')
            div.col-sm-1.center
                span.glyphicon.glyphicon-minus.control-label
            div.col-sm-1.no-pad-left
                input.form-control.up(name='lvUp')
        div.paramSet(name='vip')
            label.col-sm-1.control-label VIP
            div.col-sm-1.no-pad-right
                input.form-control.low(name='vipLow')
            div.col-sm-1.center
                span.glyphicon.glyphicon-minus.control-label
            div.col-sm-1.no-pad-left
                input.form-control.up(name='vipUp')
    div.form-group
        div.paramSet(name='payTime')
            label.col-sm-3.control-label 充值时间
            div.col-sm-3
                input.form-control.low(type='date' name='ptLow')
            div.col-sm-1.center
                span.glyphicon.glyphicon-minus.control-label
            div.col-sm-3
                input.form-control.up(type='date' name='ptUp')
    div.form-group
        div.paramSet(name='amount')
            label.col-sm-3.control-label 充值额度
            div.col-sm-1.no-pad-right
                input.form-control.low(name='pmLow')
            div.col-sm-1.center
                span.glyphicon.glyphicon-minus.control-label
            div.col-sm-1.no-pad-left
                input.form-control.up(name='pmUp')
        div.col-sm-4.center
            a.btn.btn-primary(href='javascript:void(0);',id='btnQueryPlayer') 查询玩家
    div(id='playerBox')
        div.form-group
            label.col-sm-3.control-label 玩家
            div.col-sm-7.form-control-static 符合人数&nbsp;:&nbsp;
                span.totalPlayers 0
        div.form-group
            label.col-sm-3.control-label
                span.alert.alert-danger.hide(id='queryPlayerAlert' style='padding:8px 15px;font-weight:normal')
            div.col-sm-7
                textarea.form-control(type='text', id='playerName' name='playerName')