extends adminLayout

block head
  script(type='text/javascript', src='/js/serverAPI.js')
  script(type='text/javascript', src='/js/async.js')
  script(type='text/javascript', src='/js/lib/build/build.js')
  script.
    require('boot');

block content
  h1.text-center 奖励发放
  hr
  form.form-horizontal(role='form', action='#')
    div.form-group
      label.col-sm-2.control-label 服务器
      div.col-sm-10
        select.form-control(type='text', id="area" name='area' required)
    div.form-group
      label.col-sm-2.control-label 玩家
      div.col-sm-10
        input.form-control(type='text', id='playerName' name='playerName')
    div.form-group
      label.col-sm-2.control-label 标题
      div.col-sm-10
        input.form-control(type='text', id='title' name='title')
    fieldset
      legend 奖励选项，至少选填一种
      div.form-group
        label.col-sm-2.control-label 魔石
        div.col-sm-10
          input.form-control.reward(type='number', id='gold' name='gold')
      div.form-group
        label.col-sm-2.control-label 仙币
        div.col-sm-10
          input.form-control.reward(type='number', id='money' name='money')
      div.form-group
        label.col-sm-2.control-label 体力点
        div.col-sm-10
          input.form-control.reward(type='number', id='power' name='power')
      div.form-group
        label.col-sm-2.control-label 灵气
        div.col-sm-10
          input.form-control.reward(type='number', id='spirit' name='spirit')
      div.form-group
        label.col-sm-2.control-label 技能点
        div.col-sm-10
          input.form-control.reward(type='number', id='skillPoint' name='skillPoint')
      div.form-group
        label.col-sm-2.control-label 仙丹
        div.col-sm-10
          input.form-control.reward(type='number', id='elixir' name='elixir')
      div.form-group
        label.col-sm-2.control-label 活力点
        div.col-sm-10
          input.form-control.reward(type='number', id='energy' name='energy')
      div.form-group
        label.col-sm-2.control-label 卡魂
        div.col-sm-10
          input.form-control.reward(type='number', id='fragments' name='fragments')
    hr
    div.form-group
      label.col-sm-2.control-label 内容
      div.col-sm-10
        textarea.form-control(rows=3, id='content' required, disabled)
    
    div.form-group
      div.col-sm-10.col-sm-offset-2
        button.btn.btn-primary.btn-lg(id='btnOk', data-loading-text="Loading...") &nbsp;&nbsp;&nbsp;确定&nbsp;&nbsp;&nbsp;
    div.form-group(id='msg-block')
      div.col-sm-10.col-sm-offset-2
        div.alert.alert-dismissable.hide
          button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
          span(id='alertContent') 

  div.modal.fade(id='actionConfirm', tabindex='-1' role='dialog', aria-labelledby='actionConfirmModalLable', aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button', data-dismiss='modal' aria-hidden='true') &times;
          h4.modal-title(id='actionConfirmModalLable') 确定要提交此信息吗？
        div.modal-body(id='modalContent')

        div.modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 取消
          button.btn.btn-primary(type='button', id='btnSendMsg') 确定

  script(type='text/javascript', src='/js/reward.js')